<footer class="footer" th:fragment="footer">

	<div class="container footer-grid">

		<!-- COLUMN 1 -->
		<div class="footer-col">

			<h2 class="footer-logo-text">FARM NÔNG VIỆT</h2>

			<p class="footer-company">Trusted Vietnamese agricultural
				exporter delivering premium fruits worldwide.</p>

			<p>
				<strong>Address:</strong><br> 21 Truong Cong Dinh, Tan Binh<br> Ho Chi Minh City
			</p>

			<p>
				<strong>Phone:</strong> +84 798 164 267
			</p>
			<p>
				<strong>Email:</strong> bachhoangngan.vn@gmail.com
			</p>

		</div>



		<!-- COLUMN 2 -->
		<div class="footer-col">

			<h3>POLICIES</h3>

			<a href="#">Affordable</a> <a href="#">Product Quality</a> <a
				href="#">Delivery Policy</a> <a href="#">Privacy Policy</a>

		</div>



		<div class="footer-col">

    <h3>FACEBOOK</h3>

    <a href="https://www.facebook.com/profile.php?id=61587235632538" 
       target="_blank"
       class="fb-card">

        <img src="/images/facebook-preview.jpg" alt="Facebook Farm Nông Việt">

        <div class="fb-overlay">
            👉 Visit our Facebook
        </div>

    </a>

</div>



		<!-- COLUMN 4 -->
		<div class="footer-col">

			<h3>MAP</h3>

			<iframe
				src="https://maps.google.com/maps?q=21%20Tr%C6%B0%C6%A1ng%20C%C3%B4ng%20%C4%90%E1%BB%8Bnh%20Ph%C6%B0%E1%BB%9Dng%2014%20Qu%E1%BA%ADn%20T%C3%A2n%20B%C3%ACnh%20H%E1%BB%93%20Ch%C3%AD%20Minh&t=&z=15&ie=UTF8&iwloc=&output=embed"
				width="100%" height="450" style="border: 0; border-radius: 16px;"
				loading="lazy" referrerpolicy="no-referrer-when-downgrade">
			</iframe>

		</div>

	</div>



	<!-- BOTTOM -->
	<div class="footer-bottom">© 2026 FarmNongViet. All rights
		reserved.</div>

</footer>