<footer class="footer" th:fragment="footer">

    <div class="container footer-grid">

        <!-- COLUMN 1 -->
        <div class="footer-col">

            <h2 class="footer-logo-text">
                FARM NÔNG VIỆT
            </h2>

            <p class="footer-company">
                Trusted Vietnamese agricultural exporter delivering
                premium fruits worldwide.
            </p>

            <p><strong>Address:</strong><br>
                83/19 Street 22, Phuoc Long B Ward,<br>
                Thu Duc City, Ho Chi Minh City
            </p>

            <p><strong>Phone:</strong> +84 798 164 267</p>
            <p><strong>Email:</strong> contact@farmnongviet.com</p>

        </div>



        <!-- COLUMN 2 -->
        <div class="footer-col">

            <h3>POLICIES</h3>

            <a href="#">Affordable</a>
            <a href="#">Product Quality</a>
            <a href="#">Delivery Policy</a>
            <a href="#">Privacy Policy</a>

        </div>



        <!-- COLUMN 3 -->
        <div class="footer-col">

            <h3>FACEBOOK</h3>

            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fphuong.hoai.776984%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        </div>



        <!-- COLUMN 4 -->
        <div class="footer-col">

            <h3>MAP</h3>

            <iframe
                src="https://maps.google.com/maps?q=thu%20duc&t=&z=13&ie=UTF8&iwloc=&output=embed"
                width="100%"
                height="200"
                style="border:0;"
                loading="lazy">
            </iframe>

        </div>

    </div>



    <!-- BOTTOM -->
    <div class="footer-bottom">
        © 2026 FarmNongViet. All rights reserved.
    </div>

</footer>